@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');

body{
  background-image:url("./background.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover;
  font-family: 'Newsreader', serif;
  line-height: 1.4;
}
